<section class="sticky-footer">
  <div class="row">
    <div class="col-md-12">
      <div class="footer">
        <ul class="nav-links">
          <li class="nav-item index"><a class="footer-link" href=" ">Home</a></li>
          <li class="nav-item"><a class="footer-link" href=" ">About</a></li>
          <li class="nav-item"><a class="footer-link" href=" ">Terms</a></li>
          <li class="nav-item"><a class="footer-link" href=" ">Contact</a></li>
        </ul>

      </div>
    </div>
  </div>
</section>