<section class="navigation">
  <div class="hamburger-button">
    <div class="ham-row top"></div>
    <div class="ham-row"></div>
    <div class="ham-row"></div>
    <div class="ham-row"></div>
  </div>

  <div class="sticky-logo">
    <a class="low-profile-link" ng-href="#">
      <h1 class="ostrich-headline centered">Exemplar</h1>
    </a>
  </div>

  <div class="side-nav">
    <div class="col-md-3">
      <div class="title-box">
        <h1 class="navbar-menu-title">Table Of Contents</h1>
        <div class="close-me">X</div>
      </div>
      <div class="bottom-row"></div>
        <div class="row">
          <ul class="navigation">
            <div class="navbox">
              <li class="nav-item"><a ng-href="#">Home</a></li>
            </div>
            <div class="navbox">
              <li class="nav-item"><a ng-href="#/think">Think</a></li>
            </div>
            <div class="navbox">
              <li class="nav-item"><a ng-href="#/try">Try</a></li>
            </div>
            <div class="navbox">
              <li class="nav-item"><a ng-href="#/read">Read</a></li>
            </div>
            <div class="navbox">
              <li class="nav-item"><a ng-href="#/connect">Connect</a></li>
            </div>
          </ul>

          <ul class="social-nav">
            <li class="nav-item social"><a href=" " target="_blank"><i class="fa fa-at"></i></a></li>
            <li class="nav-item social"><a href="mailto:hey@hereshannahs.info"><i class="fa fa-envelope"></i></a></li>
            <li class="nav-item social"><a href=" " target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li class="nav-item social"><a href=" " target="_blank"><i class="fa fa-github"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>