<section class="side-nav">
  <div class="container-fluid no-pad">
    <h1 class="navbar-menu-title">Exemplar.me</h1>
    <div class="bottom-row"></div>
      <div class="row">
        <ul class="navigation">
          <div class="navbox">
            <li class="nav-item"><a href=" ">Home</a></li>
          </div>
          <div class="navbox">
            <li class="nav-item"><a href=" ">Online Resources</a></li>
          </div>
          <div class="navbox">
            <li class="nav-item"><a href=" ">Reading Materials</a></li>
          </div>
          <div class="navbox">
            <li class="nav-item"><a href=" ">Other Resources</a></li>
          </div>
          <div class="navbox">
            <li class="nav-item"><a href=" ">About</a></li>
          </div>
        </ul>

        <ul class="social-nav">
          <li class="nav-item social"><a href="mailto:hey@hereshannahs.info"><i class="fa fa-envelope"></i></a></li>
          <li class="nav-item social"><a href=" " target="_blank"><i class="fa fa-twitter"></i></a></li>
          <li class="nav-item social"><a href=" " target="_blank"><i class="fa fa-github"></i></a></li>
        </ul>

      </div>
  </div>
</section>