@font-face {
  font-family: 'ostrich_sans_inlineregular';
  src: url("../fonts/ostrichsans/ostrich_sans_inline-regular-webfont.eot");
  src: url("../fonts/ostrichsans/ostrich_sans_inline-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrichsans/ostrich_sans_inline-regular-webfont.woff2") format("woff2"), url("../fonts/ostrichsans/ostrich_sans_inline-regular-webfont.woff") format("woff"), url("../fonts/ostrichsans/ostrich_sans_inline-regular-webfont.ttf") format("truetype"), url("../fonts/ostrichsans/ostrich_sans_inline-regular-webfont.svg#ostrich_sans_inlineregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'neutraface';
  src: url("../fonts/neutraface/neutra2displaytitling.eot");
  src: url("../fonts/neutraface/neutra2displaytitling.eot?#iefix") format("embedded-opentype"), url("../fonts/neutraface/neutra2displaytitling.woff") format("woff"), url("../fonts/neutraface/neutra2displaytitling.ttf") format("truetype"), url("../fonts/neutraface/neutra2displaytitling.svg#ostrich_sans_inlineregular") format("svg");
  font-weight: normal;
  font-style: normal; }
a {
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: #2e3233;
  text-decoration: none !important; }
  a:hover, a:focus, a:active {
    color: #e8f207; }
  a.visited {
    color: #2e3233; }

p {
  text-align: justify; }

.centered {
  text-align: center; }

.manifesto-text {
  line-height: 12.5px;
  margin: 0;
  text-align: center; }
  .manifesto-text.code {
    margin-top: 30px; }

.link-icon {
  font-size: 7em !important;
  color: #2e3233; }

.ostrich-headline {
  font-family: "ostrich_sans_inlineregular", arial, helvetica, sans serif;
  color: #141414;
  font-weight: 300; }
  .ostrich-headline.yellow {
    color: #e8f207; }
  .ostrich-headline.charcoal {
    color: #2e3233; }
  .ostrich-headline.lightest-gray {
    color: #e2e3df; }

.neutra-headline {
  font-family: "neutraface", arial, helvetica, sans serif;
  color: #141414;
  font-weight: 300; }
  .neutra-headline.yellow {
    color: #e8f207; }
  .neutra-headline.charcoal {
    color: #2e3233; }
  .neutra-headline.lightest-gray {
    color: #e2e3df; }

.serif-headline {
  font-family: Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif;
  color: #141414;
  font-weight: 300; }
  .serif-headline.yellow {
    color: #e8f207; }
  .serif-headline.charcoal {
    color: #2e3233; }
  .serif-headline.lightest-gray {
    color: #e2e3df; }

* {
  margin: 0; }

html, body {
  background-color: white;
  color: #2e3233;
  font-size: 16px;
  height: 100%;
  width: 100%; }

.exemplar-body {
  z-index: 0;
  min-height: 100%;
  margin-bottom: -50px; }

.exemplar-body:after {
  content: "";
  display: block; }

.sticky-footer, .exemplar-body:after {
  height: 50px; }

.sticky-footer {
  z-index: 1;
  height: 50px; }
  .sticky-footer .footer {
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    background-color: #2e3233;
    color: #e2e3df; }
    .sticky-footer .footer .nav-links {
      float: right;
      list-style-type: none;
      font-family: "ostrich_sans_inlineregular", arial, helvetica, sans serif;
      line-height: 50px;
      display: inline;
      padding-left: 0;
      width: 300px; }
      .sticky-footer .footer .nav-links .nav-item {
        display: inline;
        margin: 0 5%; }
      .sticky-footer .footer .nav-links .footer-link {
        color: #e2e3df; }
        .sticky-footer .footer .nav-links .footer-link:hover, .sticky-footer .footer .nav-links .footer-link:active {
          color: #e8f207; }
        .sticky-footer .footer .nav-links .footer-link:visited {
          color: #e2e3df; }

.navigation .hamburger-button {
  width: 40px;
  height: 45px;
  background-color: #e2e3df;
  border-radius: 0 10% 10% 0;
  position: absolute;
  top: 2%;
  left: 0;
  z-index: 1; }
  .navigation .hamburger-button .ham-row {
    margin: 10% 12.5%;
    width: 75%;
    border: 1.5px solid #2e3233;
    border-radius: 2px; }
    .navigation .hamburger-button .ham-row.top {
      margin: 30% 12.5% 10% 12.5%; }
.navigation .side-nav {
  position: fixed;
  top: 2%;
  left: -350px;
  background-color: #e2e3df;
  width: 350px;
  height: 100vh;
  z-index: 1;
  padding: 0; }
  .navigation .side-nav .title-box {
    width: 300px;
    height: 50px;
    display: inline-block; }
    .navigation .side-nav .title-box .close-me {
      cursor: pointer;
      height: 35px;
      width: 35px;
      border: 1px solid #2e3233;
      line-height: 35px;
      margin: 7.5px;
      vertical-align: center;
      text-align: center;
      font-family: "ostrich_sans_inlineregular", arial, helvetica, sans serif;
      color: #2e3233;
      float: right; }
    .navigation .side-nav .title-box .navbar-menu-title {
      font-family: "ostrich_sans_inlineregular", arial, helvetica, sans serif;
      color: #2e3233;
      font-size: 3em;
      float: left;
      margin-top: 0; }
  .navigation .side-nav .bottom-row {
    border-bottom: 1px solid #2e3233;
    width: 300px;
    margin: 0;
    padding: 0; }
  .navigation .side-nav .navigation, .navigation .side-nav .social-nav {
    list-style-type: none;
    width: 350px;
    padding-left: 0; }
    .navigation .side-nav .navigation .navbox, .navigation .side-nav .social-nav .navbox {
      height: 50px;
      width: 350px;
      padding: 0;
      margin: 0;
      line-height: 50px; }
      .navigation .side-nav .navigation .navbox:hover, .navigation .side-nav .social-nav .navbox:hover {
        background-color: #515b5e;
        color: #e8f207; }
    .navigation .side-nav .navigation .nav-item, .navigation .side-nav .social-nav .nav-item {
      padding-left: 5%;
      font-family: "ostrich_sans_inlineregular", arial, helvetica, sans serif;
      font-size: 2em; }
      .navigation .side-nav .navigation .nav-item:hover, .navigation .side-nav .social-nav .nav-item:hover {
        color: red !important; }
      .navigation .side-nav .navigation .nav-item.social, .navigation .side-nav .social-nav .nav-item.social {
        display: inline-block;
        margin: 5%; }

.icons-box {
  width: 420px;
  height: 420px;
  margin: 0 auto; }

.icon-row {
  margin: 0; }

.icon-box {
  width: 200px;
  height: 200px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 3px; }

.hello .stretch-col {
  margin: 0;
  padding: 0; }
.hello .wide {
  width: 100%;
  height: 100%;
  min-height: 750px; }
  @media all and (max-width: 767px) {
    .hello .wide {
      min-height: 420px; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .hello .wide {
      min-height: 568px; } }
.hello .title-box {
  width: 100%;
  height: 25%;
  margin-top: 25%; }
  @media all and (max-width: 767px) {
    .hello .title-box {
      margin-top: 37.5%; } }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .hello .title-box {
      margin-top: 37.5%; } }
.hello .mainpage-title {
  text-align: center;
  font-size: 10vw; }

.manifesto .manifesto-box {
  width: 100%;
  height: 37.5%;
  margin-top: 15%; }
.manifesto .manifest-title {
  font-size: 8vw;
  margin: 0; }
.manifesto .manifest-subtitle {
  font-size: 6vw;
  margin: 0; }
