@font-face {
  font-family: 'ostrich_sans_inlineregular';
  src: url("../fonts/ostrichsans/ostrich_sans_inline-regular-webfont.eot");
  src: url("../fonts/ostrichsans/ostrich_sans_inline-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/ostrichsans/ostrich_sans_inline-regular-webfont.woff2") format("woff2"), url("../fonts/ostrichsans/ostrich_sans_inline-regular-webfont.woff") format("woff"), url("../fonts/ostrichsans/ostrich_sans_inline-regular-webfont.ttf") format("truetype"), url("../fonts/ostrichsans/ostrich_sans_inline-regular-webfont.svg#ostrich_sans_inlineregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'neutraface';
  src: url("../fonts/neutraface/neutra2displaytitling.eot");
  src: url("../fonts/neutraface/neutra2displaytitling.eot?#iefix") format("embedded-opentype"), url("../fonts/neutraface/neutra2displaytitling.woff") format("woff"), url("../fonts/neutraface/neutra2displaytitling.ttf") format("truetype"), url("../fonts/neutraface/neutra2displaytitling.svg#ostrich_sans_inlineregular") format("svg");
  font-weight: normal;
  font-style: normal; }
a {
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
  color: #2e3233;
  text-decoration: none !important; }
  a:hover, a:focus, a:active {
    color: #e8f207; }
  a.visited {
    color: #2e3233; }

p {
  text-align: justify; }

.centered {
  text-align: center; }

.manifesto-text {
  line-height: 12.5px;
  margin: 0;
  text-align: center; }
  .manifesto-text.code {
    margin-top: 30px; }

.link-icon {
  font-size: 7em !important;
  color: #2e3233; }

.ostrich-headline {
  font-family: "ostrich_sans_inlineregular", arial, helvetica, sans serif;
  color: #141414;
  font-weight: 300; }
  .ostrich-headline.yellow {
    color: #e8f207; }
  .ostrich-headline.charcoal {
    color: #2e3233; }
  .ostrich-headline.lightest-gray {
    color: #e2e3df; }

.neutra-headline {
  font-family: "neutraface", arial, helvetica, sans serif;
  color: #141414;
  font-weight: 300; }
  .neutra-headline.yellow {
    color: #e8f207; }
  .neutra-headline.charcoal {
    color: #2e3233; }
  .neutra-headline.lightest-gray {
    color: #e2e3df; }

.serif-headline {
  font-family: Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif;
  color: #141414;
  font-weight: 300; }
  .serif-headline.yellow {
    color: #e8f207; }
  .serif-headline.charcoal {
    color: #2e3233; }
  .serif-headline.lightest-gray {
    color: #e2e3df; }

* {
  margin: 0; }

html, body {
  background-color: white;
  color: #2e3233;
  font-size: 16px;
  line-height: 1.2em;
  height: 100%;
  width: 100%; }

.exemplar-body {
  z-index: 0;
  min-height: 100%; }

.navigation .hamburger-button {
  width: 40px;
  height: 45px;
  background-color: #e2e3df;
  border-radius: 0 10% 10% 0;
  position: absolute;
  top: 2%;
  left: 0;
  z-index: 1; }
  .navigation .hamburger-button .ham-row {
    margin: 10% 12.5%;
    width: 75%;
    border: 1.5px solid #2e3233;
    border-radius: 2px; }
    .navigation .hamburger-button .ham-row.top {
      margin: 30% 12.5% 10% 12.5%; }
.navigation .side-nav {
  position: fixed;
  top: 2%;
  left: -350px;
  background-color: #e2e3df;
  width: 350px;
  height: 100vh;
  z-index: 1;
  padding: 0; }
  .navigation .side-nav .title-box {
    width: 300px;
    height: 50px;
    display: inline-block; }
    .navigation .side-nav .title-box .close-me {
      cursor: pointer;
      height: 35px;
      width: 35px;
      border: 1px solid #2e3233;
      line-height: 35px;
      margin: 7.5px;
      vertical-align: center;
      text-align: center;
      font-family: "ostrich_sans_inlineregular", arial, helvetica, sans serif;
      color: #2e3233;
      float: right; }
    .navigation .side-nav .title-box .navbar-menu-title {
      font-family: "ostrich_sans_inlineregular", arial, helvetica, sans serif;
      color: #2e3233;
      font-size: 3em;
      float: left;
      margin-top: 0; }
  .navigation .side-nav .bottom-row {
    border-bottom: 1px solid #2e3233;
    width: 300px;
    margin: 0;
    padding: 0; }
  .navigation .side-nav .navigation, .navigation .side-nav .social-nav {
    list-style-type: none;
    width: 350px;
    padding-left: 0; }
    .navigation .side-nav .navigation .navbox, .navigation .side-nav .social-nav .navbox {
      height: 50px;
      width: 350px;
      padding: 0;
      margin: 0;
      line-height: 50px; }
      .navigation .side-nav .navigation .navbox:hover, .navigation .side-nav .social-nav .navbox:hover {
        background-color: #515b5e;
        color: #e8f207; }
    .navigation .side-nav .navigation .nav-item, .navigation .side-nav .social-nav .nav-item {
      padding-left: 5%;
      font-family: "ostrich_sans_inlineregular", arial, helvetica, sans serif;
      font-size: 2em; }
      .navigation .side-nav .navigation .nav-item:hover, .navigation .side-nav .social-nav .nav-item:hover {
        color: red !important; }
      .navigation .side-nav .navigation .nav-item.social, .navigation .side-nav .social-nav .nav-item.social {
        display: inline-block;
        margin: 5%; }

.icons-box {
  width: 420px;
  height: 400px;
  margin: 0 auto; }

.icon-row {
  margin: 0; }

.icon-box {
  width: 200px;
  height: 175px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 3px; }

.click-button {
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  background-color: #e2e3df;
  color: #2e3233;
  border: none;
  text-shadow: none;
  font-family: "ostrich_sans_inlineregular", arial, helvetica, sans serif;
  font-size: 44px;
  font-weight: 300;
  margin: 1%; }
  .click-button:hover, .click-button:active, .click-button:focus {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: #e2e3df;
    background-color: #2e3233; }
  .click-button:visited {
    color: #2e3233;
    background-color: lightest-gray; }
  .click-button.yellow {
    background-color: #e8f207;
    color: #2e3233; }
    .click-button.yellow:hover, .click-button.yellow:active, .click-button.yellow:focus {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      background-color: #2e3233;
      color: #e8f207; }
    .click-button.yellow:visited {
      color: #2e3233;
      background-color: #e8f207; }
  .click-button.charcoal {
    background-color: #2e3233;
    color: #e2e3df; }
    .click-button.charcoal:hover, .click-button.charcoal:active, .click-button.charcoal:focus {
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
      background-color: #e2e3df;
      color: #2e3233; }
    .click-button.charcoal:visited {
      background-color: #2e3233;
      color: #e2e3df; }

.button-space-top-fifty {
  margin: 37.5% auto 0 auto; }

.button-space-bottom-twenty {
  margin-bottom: 20%; }
  .button-space-bottom-twenty.embrace {
    margin: 0 auto 20% auto; }

.hello .stretch-col, .touch .stretch-col {
  margin: 0;
  padding: 0;
  position: relative; }
.hello .wide, .touch .wide {
  width: 100vw;
  height: 100vh; }
.hello .title-box, .touch .title-box {
  width: 100%;
  height: 25%;
  margin-top: 25%; }
  @media all and (min-width: 768px) and (max-width: 991px) {
    .hello .title-box, .touch .title-box {
      margin-top: 30%; } }
  @media all and (max-width: 767px) {
    .hello .title-box, .touch .title-box {
      margin-top: 40%; } }
.hello .mainpage-title, .touch .mainpage-title {
  text-align: center;
  font-size: 10vw; }
  .hello .mainpage-title.touch-code, .touch .mainpage-title.touch-code {
    font-size: 6vw; }
.hello .code-row, .touch .code-row {
  margin-top: 20%; }
.hello .center-content, .touch .center-content {
  text-align: center; }
.hello .button-box, .touch .button-box {
  width: 400px;
  height: 150px;
  text-align: center; }

.manifesto, .actionable {
  height: 100vh;
  width: 100vw; }
  .manifesto .manifesto-box, .manifesto .action-box, .actionable .manifesto-box, .actionable .action-box {
    width: 100%;
    height: 37.5%;
    margin-top: 2%; }
  .manifesto .manifest-title, .manifesto .act-title, .actionable .manifest-title, .actionable .act-title {
    font-size: 6vw;
    margin: 0; }
  .manifesto .manifest-subtitle, .manifesto .act-subtitle, .actionable .manifest-subtitle, .actionable .act-subtitle {
    font-size: 4.5vw;
    margin: 0; }
    .manifesto .manifest-subtitle.small, .manifesto .act-subtitle.small, .actionable .manifest-subtitle.small, .actionable .act-subtitle.small {
      font-size: 4.5vw; }
  .manifesto .top-spacing, .actionable .top-spacing {
    margin-top: 2.5%; }
