.exemplar-navbar{
  position: absolute;
  top: 0;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid $lt-gray;
  .navbar-contents{
    list-style-type: none;
  }
  .navbar-item{
    color: $md-gray;
    font-weight: 400;
    display: inline;
    padding: 0 1%;
    &.main{
      font-size: 200%;
      padding: 0 1% 0 0;
    }
  }
}

.exemplar-body{
  margin-top: 50px;
}