.hello, .touch{
  .stretch-col{
    margin: 0;
    padding: 0;

  }
  .wide {
      width: 100%;
      height: 100%;
      min-height: 750px;
      @include breakpoint(mobile){
        min-height: 420px;
      }
      @include breakpoint(tablet){
        min-height: 568px;
      }
  }
  .title-box{
    width: 100%;
    height: 25%;
    margin-top: 25%;
    @include breakpoint(mobile){
      margin-top: 37.5%;
    }
    @include breakpoint(tablet){
      margin-top: 37.5%;
    }
  }
  .mainpage-title{
    text-align: center;
    font-size: 10vw;
    &.touch-code{
      font-size: 6vw;
    }
  }

}

.manifesto, .actionable{
  .manifesto-box, .action-box{
    width: 100%;
    height: 37.5%;
    margin-top: 15%;
  }
  .manifest-title, .act-title{
    font-size: 8vw;
    margin: 0;
  }
  .manifest-subtitle, .act-subtitle{
    font-size: 6vw;
    margin: 0;
  }

}
