.hello, .touch{
  height: 100vh;
  width: 100vw;
  min-height: 420px;
  .title-box{
    width: 100%;
    height: 25%;
    margin-top: 25%;
    @include breakpoint(tablet){
      margin-top: 30%;
    }
    @include breakpoint(mobile){
      margin-top: 40%;
    }
  }
  .mainpage-title{
    text-align: center;
    font-size: 10vw;
    &.touch-code{
      font-size: 6vw;
    }
  }
  .code-row{
    margin-top: 20%;
  }
  .center-content{
    text-align: center;
  }
  .button-box{
    width: 400px;
    height: 150px;
    text-align: center;
    float: none;
    margin: 0 auto;
  }

}

.manifesto, .actionable{
  height: 100vh;
  width: 100vw;
  .manifesto-box-text, .action-box{
    width: 100%;
    height: 37.5%;
    margin-top: 2.5%;
  }
  .manifest-title, .act-title{
    font-size: 6vw;
    margin: 0;
  }
  .manifest-subtitle, .act-subtitle{
    font-size: 4.5vw;
    margin: 0;
    &.small{
      font-size: 4.5vw;
    }
  }
  .top-spacing {
    margin-top: 2.5%;
  }

}
