<section class="hello">
  <div class="row" id="key">
    <div class="col-md-12 stretch-col">
      <div class="wide" my-background-image="app/images/door.jpg">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="title-box">
              <h1 class="neutra-headline yellow mainpage-title">Open Doors</h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</section>

<section class="manifesto">
  <div class="row" id="manifest">
    <div class="col-md-10 col-md-offset-1">
      <div class="manifesto-box">
        <h1 class="neutra-headline yellow centered manifest-title">Everyone</h1>
        <h1 class="ostrich-headline charcoal centered manifest-subtitle">Should Have A High Level Knowledge Of</h1>
        <h1 class="neutra-headline yellow centered manifest-title">Web Development</h1>
         <h1 class="ostrich-headline charcoal centered manifest-subtitle">Principles</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <p>Cupcake ipsum dolor. Sit amet lollipop candy gummi bears sugar plum gingerbread marshmallow. Chocolate bar chocolate tiramisu wafer cake tootsie roll. Liquorice sesame snaps sugar plum gingerbread brownie candy canes caramels. Powder marshmallow unerdwear.com tiramisu jelly-o sweet roll marzipan biscuit. Jujubes donut jelly beans wafer. Chupa chups cheesecake marzipan apple pie toffee powder sugar plum caramels croissant. Cotton candy soufflé pastry sugar plum pie croissant danish. Sugar plum gummies jelly beans cotton candy candy sweet. Tart pudding croissant. Gummi bears liquorice chocolate bar cake. Muffin applicake pie caramels chupa chups croissant sweet halvah. Halvah liquorice chocolate bar. Cupcake halvah cookie jujubes.</p>

    </div>
    <div class="col-md-4">

      <div class="icons-box">
        <div class="row icon-row">
          <div class="icon-box">
            <a ng-href="#/think">
              <i class="fa link-icon fa-lightbulb-o"></i>
              <div class="row">
                <h2 class="ostrich-headline charcoal centered">Think</h2>
              </div>
            </a>
          </div>
          <div class="icon-box">
            <a ng-href="#/try">
              <i class="fa link-icon fa-code"></i>
              <div class="row">
                <h2 class="ostrich-headline charcoal manifesto-text code">Try</h2>
              </div>
            </a>
          </div>
        </div>
        <div class="row icon-row">
          <div class="icon-box">
            <a ng-href="#/read">
              <i class="fa link-icon fa-eye"></i>
              <div class="row">
                <h2 class="ostrich-headline charcoal manifesto-text">Read</h2>
              </div>
            </a>
          </div>
          <div class="icon-box">
            <a ng-href="#/connect">
              <i class="fa link-icon fa-comments-o"></i>
              <div class="row">
                <h2 class="ostrich-headline charcoal manifesto-text">Connect</h2>
              </div>
            </a>
          </div>
        </div>


      </div>

      <div class="row">
      </div>
    </div>
    <div class="col-md-3">
      <p>Cupcake ipsum dolor. Sit amet lollipop candy gummi bears sugar plum gingerbread marshmallow. Chocolate bar chocolate tiramisu wafer cake tootsie roll. Liquorice sesame snaps sugar plum gingerbread brownie candy canes caramels. Powder marshmallow unerdwear.com tiramisu jelly-o sweet roll marzipan biscuit. Jujubes donut jelly beans wafer. Chupa chups cheesecake marzipan apple pie toffee powder sugar plum caramels croissant. Cotton candy soufflé pastry sugar plum pie croissant danish. Sugar plum gummies jelly beans cotton candy candy sweet. Tart pudding croissant. Gummi bears liquorice chocolate bar cake. Muffin applicake pie caramels chupa chups croissant sweet halvah. Halvah liquorice chocolate bar. Cupcake halvah cookie jujubes.</p>

    </div>

  </div>
</section>

<section class="touch">
  <div class="row" id="touching">
    <div class="col-md-12 stretch-col">
      <div class="wide" my-background-image="app/images/webdev.jpg">

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="title-box">
              <h2 class="neutra-headline black mainpage-title touch-code">Everything You Touch</h2>
              <h2 class="neutra-headline black mainpage-title touch-code">Touches Code. </h2>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-md-offset-4">
            <h1 class="ostrich-headline yellow centered">You can't escape it.</h1>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>

<section class="actionable">
  <div class="row" id="action">
    <div class="col-md-10 col-md-offset-1">
      <div class="action-box">
        <h2 class="ostrich-headline charcoal act-subtitle centered">
          Even if you never write a line of code in your life, these principles can apply to everything that you do.
        </h2>
        <h1 class="neutra-headline yellow act-subtitle centered">Or... You could just become a developer.</h1>
      </div>
    </div>
  </div>

  <div class="row top-spacing">
    <div class="col-md-5 col-md-offset-1">
      <p>Cupcake ipsum dolor. Sit amet lollipop candy gummi bears sugar plum gingerbread marshmallow. Chocolate bar chocolate tiramisu wafer cake tootsie roll. Liquorice sesame snaps sugar plum gingerbread brownie candy canes caramels. Powder marshmallow unerdwear.com tiramisu jelly-o sweet roll marzipan biscuit. Jujubes donut jelly beans wafer. Chupa chups cheesecake marzipan apple pie toffee powder sugar plum caramels croissant. Cotton candy soufflé pastry sugar plum pie croissant danish. Sugar plum gummies jelly beans cotton candy candy sweet. Tart pudding croissant. Gummi bears liquorice chocolate bar cake. Muffin applicake pie caramels chupa chups croissant sweet halvah. Halvah liquorice chocolate bar. Cupcake halvah cookie jujubes.</p>

    </div>
    <div class="col-md-5">
      <p>Cupcake ipsum dolor. Sit amet lollipop candy gummi bears sugar plum gingerbread marshmallow. Chocolate bar chocolate tiramisu wafer cake tootsie roll. Liquorice sesame snaps sugar plum gingerbread brownie candy canes caramels. Powder marshmallow unerdwear.com tiramisu jelly-o sweet roll marzipan biscuit. Jujubes donut jelly beans wafer. Chupa chups cheesecake marzipan apple pie toffee powder sugar plum caramels croissant. Cotton candy soufflé pastry sugar plum pie croissant danish. Sugar plum gummies jelly beans cotton candy candy sweet. Tart pudding croissant. Gummi bears liquorice chocolate bar cake. Muffin applicake pie caramels chupa chups croissant sweet halvah. Halvah liquorice chocolate bar. Cupcake halvah cookie jujubes.</p>

    </div>

  </div>

  <div class="row">
    <div class="col-md-2 col-md-offset-2">
      <div class="icon-box">
         <a ng-href="#/think">
            <i class="fa link-icon fa-lightbulb-o"></i>
            <div class="row">
              <h2 class="ostrich-headline charcoal centered">Think</h2>
            </div>
          </a>
      </div>
    </div>

    <div class="col-md-2">
      <div class="icon-box">
         <a ng-href="#/try">
            <i class="fa link-icon fa-code"></i>
            <div class="row">
              <h2 class="ostrich-headline charcoal manifesto-text code">Try</h2>
            </div>
          </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="icon-box">
        <a ng-href="#/read">
          <i class="fa link-icon fa-eye"></i>
          <div class="row">
            <h2 class="ostrich-headline charcoal manifesto-text">Read</h2>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-2">
      <div class="icon-box">
        <a ng-href="#/connect">
          <i class="fa link-icon fa-comments-o"></i>
          <div class="row">
            <h2 class="ostrich-headline charcoal manifesto-text">Connect</h2>
          </div>
        </a>
      </div>
    </div>

  </div>
</section>