<section class="read-intro read-box">
  <div class="row">
    <div class="col-md-12 stretch-col">
      <div class="wide interior-images" my-background-image="app/images/read.png">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 stretch-col interior-pages">
      <div class="content-box">
        <h1 class="ostrich-headline charcoal emphasis-text centered">Half of a developer's career</h1>
        <h1 class="neutra-headline yellow emphasis-text centered">Is spent reading</h1>
        <h1 class="neutra-headline yellow emphasis-text centered">What they google.</h1>

        <div class="row center-content">
          <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
            <div class="click-button yellow button-space-top-bottom ten" id="sources" role="button" click-move >Read More</div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>

<section class="read-content">
  <div class="sources-box top-spacing">
    <div class="row">
      <h1 class="neutra-headline charcoal emphasis-text xl centered">Here's the good parts.</h1>
        <div class="col-md-5 col-md-offset-1">
          <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2">
              <div class="icon-box">
                <i class="fa link-icon last fa-lightbulb-o"></i>
              </div>
            </div>
            <div class="col-md-10 col-sm-10 col-xs-10">
              <h1 class="ostrich-headline charcoal emphasis-text v-centered">Here's what we do.</h1>
            </div>
          </div>
          <p>Cupcake ipsum dolor. Sit amet lollipop candy gummi bears sugar plum gingerbread marshmallow. Chocolate bar chocolate tiramisu wafer cake tootsie roll. Liquorice sesame snaps sugar plum gingerbread brownie candy canes caramels. Powder marshmallow unerdwear.com tiramisu jelly-o sweet roll marzipan biscuit. Jujubes donut jelly beans wafer. Chupa chups cheesecake marzipan apple pie toffee powder sugar plum caramels croissant. Cotton candy soufflé pastry sugar plum pie croissant danish. Sugar plum gummies jelly beans cotton candy candy sweet. Tart pudding croissant. Gummi bears liquorice chocolate bar cake. Muffin applicake pie caramels chupa chups croissant sweet halvah. Halvah liquorice chocolate bar. Cupcake halvah cookie jujubes.</p>
        </div>
        <div class="col-md-5">
          <p>Cupcake ipsum dolor. Sit amet lollipop candy gummi bears sugar plum gingerbread marshmallow. Chocolate bar chocolate tiramisu wafer cake tootsie roll. Liquorice sesame snaps sugar plum gingerbread brownie candy canes caramels. Powder marshmallow unerdwear.com tiramisu jelly-o sweet roll marzipan biscuit. Jujubes donut jelly beans wafer. Chupa chups cheesecake marzipan apple pie toffee powder sugar plum caramels croissant. Cotton candy soufflé pastry sugar plum pie croissant danish. Sugar plum gummies jelly beans cotton candy candy sweet. Tart pudding croissant. Gummi bears liquorice chocolate bar cake. Muffin applicake pie caramels chupa chups croissant sweet halvah. Halvah liquorice chocolate bar. Cupcake halvah cookie jujubes.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 col-sm-2 col-xs-2">
          <div class="read-source-box">
            <h1 class="book-title">title</h1>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <div class="read-source-box">
            <h1 class="book-title">title</h1>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <div class="read-source-box">
            <h1 class="book-title">title</h1>
          </div>
        </div>

        <div class="col-md-2 col-sm-2 col-xs-2">
          <div class="read-source-box">
            <h1 class="book-title">title</h1>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <div class="read-source-box">
            <h1 class="book-title">title</h1>
          </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-2">
          <div class="read-source-box">
            <h1 class="book-title">title</h1>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-5 col-sm-offset-3 col-xs-offset-3">
          <div class="button-box">
            <div class="click-button button-space-bottom-twenty" id="read" role="button" click-move >Top</div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>