<div class="row">
  <div class="col-md-12">
    <h1 class ="headline">STYLEGUIDE</h1>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h1 class ="subheadline">FONTS/TYPE</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class ="subheadline">Headline: Ostrich</div>
    <div class="ostrich-headline charcoal">Charcoal Headline</div>
    <div class="ostrich-headline yellow">Yellow Headline</div>
    <div class="ostrich-headline lightest-gray">Light Gray Headline</div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1 class ="subheadline">Headline: Neutraface</h1>
    <div class="neutra-headline charcoal">Charcoal Headline</div>
    <div class="neutra-headline yellow">Yellow Headline</div>
    <div class="neutra-headline lightest-gray">Light Gray Headline</div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1 class ="subheadline">IMAGE BOXES</h1>
  </div>
</div>

<div class="row">
<h1>Fixed Four Up</h1>
<div class="col-md-4">

  <div class="icons-box">
    <div class="row icon-row">
      <div class="icon-box">
        <a ng-href="#/think">
          <i class="fa link-icon fa-lightbulb-o"></i>
          <div class="row">
            <h2 class="ostrich-headline charcoal centered">Think</h2>
          </div>
        </a>
      </div>
      <div class="icon-box">
        <a ng-href="#/try">
          <i class="fa link-icon fa-code"></i>
          <div class="row">
            <h2 class="ostrich-headline charcoal manifesto-text code">Try</h2>
          </div>
        </a>
      </div>
    </div>
    <div class="row icon-row">
      <div class="icon-box">
        <a ng-href="#/read">
          <i class="fa link-icon fa-eye"></i>
          <div class="row">
            <h2 class="ostrich-headline charcoal manifesto-text">Read</h2>
          </div>
        </a>
      </div>
      <div class="icon-box">
        <a ng-href="#/connect">
          <i class="fa link-icon fa-comments-o"></i>
          <div class="row">
            <h2 class="ostrich-headline charcoal manifesto-text">Connect</h2>
          </div>
        </a>
      </div>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-12">
    <h1 class ="subheadline">BUTTONS</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-1">
    <div class="row">
      <button class="click-button">Sample Button</button>
    </div>
    <div class="row">
      <button class="click-button yellow">Sample Button</button>
    </div>
    <div class="row">
      <button class="click-button charcoal">Sample Button</button>

    </div>
  </div>

</div>

