<div class="row">
  <div class="col-md-12">
    <h1 class ="headline">STYLEGUIDE</h1>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h1 class ="subheadline">FONTS/TYPE</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class ="subheadline">Headline: Ostrich</div>
    <div class="ostrich-headline charcoal">Charcoal Headline</div>
    <div class="ostrich-headline yellow">Yellow Headline</div>
    <div class="ostrich-headline lightest-gray">Light Gray Headline</div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h1 class ="subheadline">Headline: Serif</h1>
    <div class="serif-headline charcoal">Charcoal Headline</div>
    <div class="serif-headline yellow">Yellow Headline</div>
    <div class="serif-headline lightest-gray">Light Gray Headline</div>
  </div>
</div>

