<section class="think-intro think-box">
  <div class="row">
    <div class="col-md-12 stretch-col">
      <div class="wide interior-images" my-background-image="app/images/hats.png">
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 stretch-col interior-pages">
      <div class="content-box">
        <h1 class="ostrich-headline charcoal emphasis-text centered">What do you get when you cross</h1>
        <h1 class="neutra-headline yellow emphasis-text centered">A Cartographer</h1>
        <h1 class="neutra-headline yellow emphasis-text centered">An Artist</h1>
        <h1 class="neutra-headline yellow emphasis-text centered">And A Computer?</h1>

        <div class="row center-content">
          <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
            <div class="click-button yellow button-space-top-bottom ten" id="riddle" role="button" click-move >Answer</div>
          </div>
        </div>

      </div>
    </div>
  </div>

</section>

<section class="think-content">
  <div class="riddle-box top-spacing">
    <div class="row">
      <h1 class="neutra-headline charcoal emphasis-text xl centered"> A developer.</h1>
      <div class="col-md-5 col-md-offset-1">
        <h1 class="ostrich-headline charcoal emphasis-text v-centered">We Wear Many Hats.</h1>
        <p>Cupcake ipsum dolor. Sit amet lollipop candy gummi bears sugar plum gingerbread marshmallow. Chocolate bar chocolate tiramisu wafer cake tootsie roll. Liquorice sesame snaps sugar plum gingerbread brownie candy canes caramels. Powder marshmallow unerdwear.com tiramisu jelly-o sweet roll marzipan biscuit. Jujubes donut jelly beans wafer. Chupa chups cheesecake marzipan apple pie toffee powder sugar plum caramels croissant. Cotton candy soufflé pastry sugar plum pie croissant danish. Sugar plum gummies jelly beans cotton candy candy sweet. Tart pudding croissant. Gummi bears liquorice chocolate bar cake. Muffin applicake pie caramels chupa chups croissant sweet halvah. Halvah liquorice chocolate bar. Cupcake halvah cookie jujubes.</p>

        <h1 class="ostrich-headline yellow">So how does this apply to me?</h1>

        <p>Cupcake ipsum dolor. Sit amet lollipop candy gummi bears sugar plum gingerbread marshmallow. Chocolate bar chocolate tiramisu wafer cake tootsie roll. Liquorice sesame snaps sugar plum gingerbread brownie candy canes caramels. Powder marshmallow unerdwear.com tiramisu jelly-o sweet roll marzipan biscuit. Jujubes donut jelly beans wafer. Chupa chups cheesecake marzipan apple pie toffee powder sugar plum caramels croissant. Cotton candy soufflé pastry sugar plum pie croissant danish. Sugar plum gummies jelly beans cotton candy candy sweet. Tart pudding croissant. Gummi bears liquorice chocolate bar cake. Muffin applicake pie caramels chupa chups croissant sweet halvah. Halvah liquorice chocolate bar. Cupcake halvah cookie jujubes.</p>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-2 col-sm-2 col-xs-2">
            <div class="icon-box">
              <i class="fa link-icon last fa-lightbulb-o"></i>
            </div>
          </div>
          <div class="col-md-10 col-sm-10 col-xs-10">
            <h1 class="ostrich-headline charcoal emphasis-text v-centered">Here's what we do.</h1>
          </div>
        </div>

        <div class="row top-spacing">
          <div class="col-md-2 col-sm-2 col-xs-2">
            <img class="mugshot-box" ng-src="app/images/monkeynaut.jpg" alt="this person's name" />

          </div>
          <div class="col-md-10 col-sm-10 col-xs-10">
            <div class="topic-box">
              <h2 class="neutra-headline yellow no-margin">This Topic</h2>
              <h3 class="ostrich-headline charcoal no-margin">Some Person</h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-2 col-xs-2">
            <img class="mugshot-box" ng-src="app/images/monkeynaut.jpg" alt="this person's name" />

          </div>
          <div class="col-md-10 col-sm-10 col-xs-10">
            <div class="topic-box">
              <h2 class="neutra-headline yellow no-margin">This Topic</h2>
              <h3 class="ostrich-headline charcoal no-margin">Some Person</h3>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2 col-sm-2 col-xs-2">
            <img class="mugshot-box" ng-src="app/images/monkeynaut.jpg" alt="this person's name" />

          </div>
          <div class="col-md-10 col-sm-10 col-xs-10">
            <div class="topic-box">
              <h2 class="neutra-headline yellow no-margin">This Topic</h2>
              <h3 class="ostrich-headline charcoal no-margin">Some Person</h3>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-sm-2 col-xs-2">
            <img class="mugshot-box" ng-src="app/images/monkeynaut.jpg" alt="this person's name" />

          </div>
          <div class="col-md-10 col-sm-10 col-xs-10">
            <div class="topic-box">
              <h2 class="neutra-headline yellow no-margin">This Topic</h2>
              <h3 class="ostrich-headline charcoal no-margin">Some Person</h3>
            </div>
          </div>
        </div>


      </div>
      <div class="row">
        <div class="col-md-2 col-sm-6 col-xs-6 col-md-offset-5 col-sm-offset-3 col-xs-offset-3">
          <div class="button-box">
            <div class="click-button button-space-bottom-twenty" id="think" role="button" click-move >Top</div>
          </div>
        </div>
      </div>

    </div>
  </div>

</section>