body{
  background-color: $white;
  color: $charcoal;
  font-size: 16px;
}

.headline{
  font-size: 48px;
}

.subheadline {
  color: $charcoal;
  text-decoration: underline;
}

.side-nav{
  background-color: $lightest-gray;
  width: 25%;
  .no-pad{
    padding: 0;
    margin: 0;
  }
  .navbar-menu-title{
    font-family: $ostrich;
    color: $charcoal;
    font-size: 3vw;
  }

  .bottom-row{
    border-bottom: 1px solid $charcoal;
    max-width: 360px;
    margin: 0;
    padding: 0;
  }
  .navigation,.social-nav{
    list-style-type: none;

    padding-left: 0;
    .navbox{
      height: 50px;
      max-width: 375px;
      padding: 0;
      margin: 0;
      line-height: 50px;
      &:hover{
        background-color: $md-gray;
      }
    }
    .nav-item{
      padding-left: 5%;
      &.social{
        display: inline-block;
        margin: 5%;
      }
    }
  }

}