.click-button{
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  vertical-align: middle;
  background-color: $lightest-gray;
  color: $charcoal;
  border: none;
  text-shadow: none;
  font-family: $ostrich;
  font-size: 44px;
  font-weight: 300;
  margin: 1%;
  cursor: pointer;
  &:hover, &:active, &:focus{
    @include transition(all, 0.5s, ease);
    color: $lightest-gray;
    background-color: $charcoal;
  }
  &:visited{
    color: $charcoal;
    background-color: lightest-gray;
  }
  &.yellow{
    background-color: $yellow;
    color: $charcoal;
    &:hover, &:active, &:focus{
      @include transition(all, 0.5s, ease);
      background-color: $charcoal;
      color: $yellow;
    }
    &:visited{
      color: $charcoal;
      background-color: $yellow;
    }
  }
  &.charcoal{
    background-color: $charcoal;
    color: $lightest-gray;
    &:hover, &:active, &:focus{
      @include transition(all, 0.5s, ease);
      background-color: $lightest-gray;
      color: $charcoal;
    }
    &:visited{
      background-color: $charcoal;
      color: $lightest-gray;
    }
  }
}

.button-space-top-fifty{
  margin: 37.5% auto 0 auto;
}

.button-space-bottom-twenty{
  margin-bottom: 20%;
  &.embrace{
    margin: 0 auto 20% auto;
  }
}

.button-space-top-bottom{
  margin: 20% auto;
}