@font-face {
    font-family: 'ostrich_sans_inlineregular';
    src: url('../fonts/ostrichsans/ostrich_sans_inline-regular-webfont.eot');
    src: url('../fonts/ostrichsans/ostrich_sans_inline-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ostrichsans/ostrich_sans_inline-regular-webfont.woff2') format('woff2'),
         url('../fonts/ostrichsans/ostrich_sans_inline-regular-webfont.woff') format('woff'),
         url('../fonts/ostrichsans/ostrich_sans_inline-regular-webfont.ttf') format('truetype'),
         url('../fonts/ostrichsans/ostrich_sans_inline-regular-webfont.svg#ostrich_sans_inlineregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

