  .icons-box{
    width: 420px;
    height: 400px;
    margin: 0 auto;
  }

  .icon-row{
    margin: 0;
  }

  .icon-box{
    width: 200px;
    height: 175px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    margin: 3px;
  }
