  .icons-box{
    width: 420px;
    height: 100%;
    margin: 0 auto;
  }

  .icon-box{
    float: none;
    margin: 2% auto;
    text-align: center;
  }

.link-icon{
  color: $charcoal;
  &.last{
    font-size: 500%;
    @include breakpoint(tablet){
      font-size: 400%;
    }
    @include breakpoint(mobile){
      font-size: 350%;
    }
  }
}

.wide {
    width: 100vw;
    height: 100vh;
    &.interior-images{
      height: 40vh;
    }
}

.mugshot-box{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: 2px solid $charcoal;
}
