  .icons-box{
    width: 420px;
    height: 100%;
    margin: 0 auto;
  }

  .icon-box{
    float: none;
    margin: 2% auto;
    text-align: center;
  }

.link-icon{
  color: $charcoal;
  &.last{
    font-size: 500%;
    @include breakpoint(tablet){
      font-size: 400%;
    }
    @include breakpoint(mobile){
      font-size: 350%;
    }
  }
}
