@mixin transition($transition-property, $transition-time, $method) {
    -webkit-transition: $transition-property $transition-time $method;
    -moz-transition: $transition-property $transition-time $method;
    -ms-transition: $transition-property $transition-time $method;
    -o-transition: $transition-property $transition-time $method;
    transition: $transition-property $transition-time $method;
}

@mixin breakpoint($point) {
  @if $point == mobile {
    @media all and (max-width: $screen-xs-max) { @content; }
  }
  @else if $point == tablet {
    @media all and (min-width: $screen-sm) and (max-width: $screen-sm-max) {
      @content;
    }
  }
  @else if $point == desktop {
    @media all and (min-width: $screen-md) and (max-width: $screen-md-max) {
      @content;
    }
  }
  @else if $point == large {
    @media all and (min-width: $screen-lg) {
      @content;
    }
  }
}

