$ostrich: 'ostrich_sans_inlineregular', arial, helvetica, sans serif;
$neutra: 'neutraface', arial, helvetica, sans serif;
$caslon: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif;

a {
  @include transition(color, 0.5s, ease);
  color: $charcoal;
  text-decoration: none !important;
  &:hover, &:focus, &:active{
     color: $yellow;
  }
  &.visited{
    color: $charcoal;
  }

  &.low-profile-link{
    &:hover, &:focus, &:active{
       color: $charcoal;
    }

  }

}

p {
  text-align: justify;
}

///////////////////////////////////////////////////////////////////////////////
////////////////////////Alignment and spacing//////////////////////////////////
///////////////////////////////////////////////////////////////////////////////

.centered{
  text-align: center;
}

//this needs to have the line height set too!
.v-centered{
  vertical-align: middle;
  margin: 0;
}

.no-margin{
  margin: 0;
}

.emphasis-text{
  font-size: 5vw;
  line-height: 5vw;
  @include breakpoint(tablet){
    font-size: 6vw;
    line-height: 6vw;
  }
  @include breakpoint(mobile){
    font-size: 7vw;
    line-height: 7vw;
  }
  &.xl {
    font-size: 7vw;
    line-height: 7vw;
    @include breakpoint(tablet){
      font-size: 8vw;
      line-height: 8vw;
    }
    @include breakpoint(mobile){
      font-size: 9vw;
      line-height: 9vw;
    }
  }
}

.manifesto-text{
  line-height: 12.5px;
  margin: 0;
  text-align: center;
  &.code{
    margin-top: 30px;
  }
}



.ostrich-headline{
  font-family: $ostrich;
  color: $black;
  font-weight: 300;
  &.yellow {
    color: $yellow;
  }
  &.charcoal {
    color: $charcoal;
  }
  &.lightest-gray{
    color: $lightest-gray;
  }
}

.neutra-headline{
  font-family: $neutra;
  color: $black;
  font-weight: 300;
  &.yellow {
    color: $yellow;
  }
  &.charcoal {
    color: $charcoal;
  }
  &.lightest-gray{
    color: $lightest-gray;
  }
}

.serif-headline{
  font-family: $caslon;
  color: $black;
  font-weight: 300;

  &.yellow {
    color: $yellow;
  }
  &.charcoal {
    color: $charcoal;
  }
  &.lightest-gray{
    color: $lightest-gray;
  }
}