$ostrich: 'ostrich_sans_inlineregular', arial, helvetica, sans serif;
$neutra: 'neutraface', arial, helvetica, sans serif;
$caslon: Big Caslon,Book Antiqua,Palatino Linotype,Georgia,serif;

a {
  @include transition(color, 0.5s, ease);
  color: $charcoal;
  text-decoration: none !important;
  &:hover, &:focus, &:active{
     color: $yellow;
  }
  &.visited{
    color: $charcoal;
  }

  &.low-profile-link{
    &:hover, &:focus, &:active{
       color: $charcoal;
    }

  }

}

p {
  text-align: justify;
}

.centered{
  text-align: center;
}

.manifesto-text{
  line-height: 12.5px;
  margin: 0;
  text-align: center;
  &.code{
    margin-top: 30px;
  }
}



.ostrich-headline{
  font-family: $ostrich;
  color: $black;
  font-weight: 300;
  &.yellow {
    color: $yellow;
  }
  &.charcoal {
    color: $charcoal;
  }
  &.lightest-gray{
    color: $lightest-gray;
  }
}

.neutra-headline{
  font-family: $neutra;
  color: $black;
  font-weight: 300;
  &.yellow {
    color: $yellow;
  }
  &.charcoal {
    color: $charcoal;
  }
  &.lightest-gray{
    color: $lightest-gray;
  }
}

.serif-headline{
  font-family: $caslon;
  color: $black;
  font-weight: 300;

  &.yellow {
    color: $yellow;
  }
  &.charcoal {
    color: $charcoal;
  }
  &.lightest-gray{
    color: $lightest-gray;
  }
}